<h1 class="text-center pt-5">Vítejte v Terminálu pro LaserGame!</h1>
<h3 class="text-center pt-3">Pro pokračování je nutné se přihlásit pomocí tlačítka v levém horním rohu.</h3>
<script>
    function loadComponent() {
        lasergame.componentLoadComplete();
    }
</script>