<div class="w-50 mx-auto">
    <h2 class="text-center mt-5">Přihlášení</h2>
    <p class="text-center">Pro přihlášení zadejte přihlašovací jméno a heslo a potvrďte</p>
    <form id="loginForm" class="w-75 mx-auto" method="post" action="">
        <div class="form-group mb-1">
            <div class="input-group">
                <div class="input-group-prepend w-33 text-center">
                    <span class="input-group-text w-100 text-center" id="usernameField">Přihlašovací jméno</span>
                </div>
                <input type="text" class="form-control" placeholder="Přihlašovací jméno" aria-describedby="inputGroupPrepend3" id="login" name="login" required>
                <div class="invalid-feedback">
                    Špatné přihlašovací jméno.
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <div class="input-group">
                <div class="input-group-prepend w-33">
                    <span class="input-group-text w-100 text-center" id="passwordField">Heslo</span>
                </div>
                <input type="password" class="form-control" placeholder="Heslo" aria-describedby="inputGroupPrepend3" id="password" name="password" required>
                <div class="invalid-feedback">
                    Špatné heslo.
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-success" name="loginButton" id="loginButton">Přihlásit se</button>
            <button type="submit" class="btn btn-warning d-none" name="logoverButton" id="logoverButton">Odhlásit druhý stroj a přihlásit se</button>
        </div>
    </form>
</div>

<script>
    function loadComponent() {
        require(["constants"], function(constants) {
            $("#loginForm").on("submit", function(event) {
                event.preventDefault();


                let authenticateEndpoint = "/authenticate";
                let loginData = {};

                let username = sel("#login").value;
                let password = sel("#password").value;

                if (username && password) {
                    loginData.username = username;
                    loginData.password = password;

                    if ($("#loginButton").hasClass("d-none")) {
                        loginData.logover = true;
                    }

                    lasergame.readRESTData(authenticateEndpoint, {
                        method: "POST",
                        data: JSON.stringify(loginData)
                    }, function(data) {
                        localStorage.setItem("bearer", data.token);

                        var usersLastPage = data.lastPage;
                        var redirect = getUrlParam("redirect");

                        if (redirect) {
                            var redirectParams = getUrlParam("additionalRedirect");

                            if (redirectParams) {
                                lasergame.loadContent(redirect, decodeURI(redirectParams));
                                return;
                            }

                            lasergame.loadContent(redirect);
                            return;
                        }

                        if (usersLastPage) {
                            lasergame.loadContent(usersLastPage);
                            return;
                        }

                        lasergame.loadContent(constants.defaultComponentAfterLogin);
                    }, function(error, textStatus, errorDetailMessage) {
                        switch(error.status) {
                            case 409:
                                showWrongCredentialsInfo();
                                return true;
                            case 406:
                                showLogoverButton();
                                return true;
                        }
                    });
                } else {
                    /* TODO Handle missing login info gracefully */
                }


                $(".form-control").on("click", hideWrongCredentialsInfo);
            });

            lasergame.componentLoadComplete();
        })

        /**
         * Show information about wrong credentials
         */
        function showWrongCredentialsInfo() {
            $(".invalid-feedback").addClass("d-block");
            $(".form-control").addClass("is-invalid");
        }

        /**
         * Hide information about wrong credentials
         */
        function hideWrongCredentialsInfo() {
            $(".invalid-feedback").removeClass("d-block");
            $(".form-control").removeClass("is-invalid");
        }

        /**
         * Show button to logover
         */
        function showLogoverButton() {
            $("#loginButton").addClass("d-none");
            $("#logoverButton").removeClass("d-none");
        }
    }

    /**
     *  Generic framework function called before unloading the component. 
     */
    function onBeforeComponentUnload() {
        $(".form-control").off("click");
    }
</script>