<div class="row main-content-row">
    <div class="col-md-6 border-end">
        <div class="vestsHeaderWrapper">
            <h2 class="vestsHeader px-2">Mé vesty</h2>
            <div class="vestsHeaderButtonsWrapper">
                <a href="registerVest" class="btn btn-primary">Zaregistrovat novou vestu</a>
                <button type="button" id="reloadVests" class="btn btn-primary reloadButton"><i class="bi bi-arrow-clockwise"></i></button>
            </div>
        </div>
        <div id="myVests">
            <!-- Object for inserting vests loaded by REST API -->
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="vestsHeaderWrapper">
            <h2 class="vestsHeader px-2">Mé hry</h2>
            <div class="vestsHeaderButtonsWrapper pe-2">
                <button type="button" id="createGame" class="btn btn-primary me-1">Začít novou hru</a>
                <button type="button" id="reloadGames" class="btn btn-primary reloadButton"><i class="bi bi-arrow-clockwise"></i></button>
            </div>
        </div>
        <div id="myGamesWithControlsWrapper">
            <div id="myGamesWrapper">
                <table class="table table-striped w-100">
                    <thead>
                        <tr>
                            <th class="gameNameHeader" scope="col">Datum hry</th>
                            <th class="gameStatusHeader text-center px-4" scope="col">Stav hry</th>
                            <th class="cloneGameHeader text-center px-4" scope="col">Hrát znovu</th>
                            <th class="showGameDetailsHeader text-center px-4" scope="col">Zobrazit detail</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="myGames">
                    </tbody>
                </table>
                <!-- Object for inserting games loaded by REST API -->
            </div>
            <div class="pagerControls pb-3">
                <button class="btn btn-primary pageButtons previous"><i class="bi bi-arrow-left"></i> Předchozí stránka</button>
                <button class="btn btn-primary pageButtons next">Další stránka <i class="bi bi-arrow-right"></i></button>
            </div>
        </div>
    </div>    
</div>

<script>
    var pollingInterval;

    function loadComponent() {
        require(["constants", "pager"], function(constants, pager) {
            loadMyVestsPart();
            loadMyGamesPart();
            
            startPolling();
            initializeOnReloadHandler();
            
            lasergame.componentLoadComplete();
    
            // ===============================================
            //          Functions to load my games
            // ===============================================

            /**
             * Loads information about games and renders it in pager.
             */
            function loadMyGamesPart() {
                lasergame.readRESTData(
                    constants.myGamesEndpoint, 
                    null,
                    function(data) {
                        initializePager(data);
                    }
                );

                $("#createGame").on("click", function() {cloneGame(false, false);});
            }

            /**
             * Initialize pager with data.
             */
            function initializePager(data) {
                console.log(data);
                
                pager.initialize(data, "#myGames", createGameTableRow);
                $(".previous").on("click", pager.prevPage);
                $(".next").on("click", pager.nextPage);
            }

            /**
             * Renderer for pager library to render one row of information
             */
            function createGameTableRow(rowData) {
                var row = $("<tr>").data("gameid", rowData["gameID"]).data("gameStatus", rowData["gameStatus"]);
            
                if (typeof rowData["dateOfGame"] !== "undefined" && rowData["dateOfGame"] != null) {
                    var gameDate = new Date(rowData["dateOfGame"]);

                    row.append($("<td>").html(gameDate.toLocaleString("cs-CZ")));
                } else {
                    row.append($("<td>"));
                }
                row.append($("<td>").html(rowData["gameStatus"]).addClass("text-center"));
                row.append(getCloneGameButton());
                row.append(getShowGameDetailsButton());
                row.append(getDeleteGameButton());

                return row;
            }
            
            /**
             * Function to create a button to clone another game.
             */
            function getCloneGameButton() {
                let td = $("<td>").addClass("showGameDetailsData align-middle text-center w-25");

                let button = $("<button>").addClass("btn btn-primary showGameDetailsButton");
                button.append("Hrát znovu ");
                button.append(
                    $("<i>").addClass("bi bi-arrow-clockwise")
                );

                button.on("click", function() {cloneGame(button, false);});

                td.append(button);

                return td;
            }

            /**
             * Function to create a button to show game details and to handle on click events
             */
            function getShowGameDetailsButton() {
                let td = $("<td>").addClass("showGameDetailsData align-middle text-center w-25");

                let button = $("<button>").addClass("btn btn-primary showGameDetailsButton");
                button.append("Zobrazit detaily ");
                button.append(
                    $("<i>").addClass("bi bi-list")
                )

                button.on("click", function() {showGameDetails(button);});

                td.append(button);

                return td;
            }

            /**
             * Function to create a new game or get data about existing game in STARTING state and forward it to createGame page
             */
            function cloneGame(button, fetchOnly) {
                let params = {
                    method: "POST"
                }

                if (button) {
                    let gameID = button.parents().filter("tr").data("gameid");

                    data = {"gameID": gameID};

                    if (fetchOnly) {
                        data.fetchData = true;
                    }

                    params.data = JSON.stringify(data);
                }

                lasergame.readRESTData(
                    constants.createGameEndpoint, 
                    params,
                    function(data) {
                        localStorage.setItem(constants.gameStartDataLocalStorageIdentifier, JSON.stringify(data));
                        lasergame.loadContent(constants.startGameComponent);
                    }, function(error, textStatus, errorDetailMessage) {
                        if(error.status == 409) {
                            lasergame.showErrorInformationRow("You have another instnace of game that is not completed. Complete the other game first.");
                            return true;
                        }
                    }
                );
            }

            /**
             * Function to forward to page containing details about the game
             */
            function showGameDetails(button) {
                let tr = button.parents().filter("tr");
                let gameID = tr.data("gameid");
                let gameStatus = tr.data("gameStatus");
                
                if (gameStatus == "CREATED") {
                    cloneGame(button, true);
                    return;
                }

                if (gameStatus == "PREPARING") {
                    lasergame.showWarningInformationRow("Game is currently starting. Wait a bit before it starts.");
                    return;
                }

                lasergame.loadContent("gameInfo", "gameID=" + gameID);

                console.log("Showing data for gameID: " + gameID);
            }

            /**
             * Returns new jQuery td element containing button to delete game.
             */
             function getDeleteGameButton() {
                let td = $("<td>").addClass("removeGameData align-middle text-center w-25");

                let button = $("<button>").addClass("btn btn-danger removeGameButton");
                button.append(
                    $("<i>").addClass("bi bi-trash")
                )

                button.on("click", function() {sendDeleteGameRequest(button);});

                td.append(button);

                return td;
            }
            
            /**
             * Handler to send vest delete request to the server. 
             */
             function sendDeleteGameRequest(button) {
                let gameID = button.parents().filter("tr").data("gameid");

                let JSONdata = {};
                JSONdata.gameID = gameID;

                lasergame.readRESTData(constants.deleteGameEndpoint, {
                    method: "DELETE",
                    data: JSON.stringify(JSONdata)
                }, function() {
                    lasergame.showSuccessInformationRow("Game was deleted successfuly!");
                    loadMyGamesPart();
                }, function(error, textStatus, errorDetailMessage) {
                    if(error.status == 406) {
                        lasergame.showErrorInformationRow("Cannot delete running game. Stop the game first.");
                        return true;
                    } 

                    if(error.status == 409) {
                        lasergame.showErrorInformationRow("Game with given ID doesn't exist. Contact the administrator");
                        return true;
                    }
                });
            }

            // ===============================================
            //          Functions to load my Vests
            // ===============================================

            /**
             * Function to load information about vests from the server
             */
            function loadMyVestsPart() {
                lasergame.readRESTData(
                    constants.myVestsEndpoint, 
                    null,
                    function(data) {
                        generateVestsTable(data);
                    }
                );
            }

            /**
             * Creates table header and body with vests information
             */
            function generateVestsTable(JSONData) {
                var table = generateTableWithHeader();
                var tbody = $("<tbody>");

                for(let index in JSONData) {
                    let data = JSONData[index];
                    
                    let dataRow = $("<tr>").attr("data-vestCode", data.vestCode);

                    dataRow.append($("<td>").html(data.vestName).addClass("vestNameData align-middle w-50"));
                    dataRow.append($("<td>").html(data.vestCode).addClass("vestCodeData align-middle"));
                    dataRow.append(getStatusRow(data.status));
                    dataRow.append(getDeleteVestButton());
                    
                    tbody.append(dataRow);
                }

                table.append(tbody);
                
                $("#myVests").html(table);
            }

            /**
             * Returns new jQuery td element containing div styled as online/offline icon
             */
            function getStatusRow(status) {
                let statusClass = "vestOffline";

                if (status == "ONLINE") {
                    statusClass = "vestOnline";
                }

                return $("<td>").append(
                            $("<div>").addClass("vestStatus " + statusClass)
                        ).addClass("vestStatusHolder align-middle w-25");
            }

            /**
             * Returns new jQuery td element containing button to delete vest.
             */
            function getDeleteVestButton() {
                let td = $("<td>").addClass("removeVestData align-middle text-center w-25");

                let button = $("<button>").addClass("btn btn-danger removeVestButton");
                button.append(
                    $("<i>").addClass("bi bi-trash")
                )

                button.on("click", function() {sendDeleteRequest(button);});

                td.append(button);

                return td;
            }

            /**
             * Returns jQuery table object containing header used for displaying information about vests 
             */
            function generateTableWithHeader() {
                let table = $("<table>").addClass("table table-striped w-100");
                let tableHead = $("<thead>");
                let headerRow = $("<tr>");
                headerRow.append($("<th>").html("Název vesty").addClass("vestNameHeader").attr("scope", "col"));
                headerRow.append($("<th>").html("Kód vesty").addClass("vestCodeHeader").attr("scope", "col"));
                headerRow.append($("<th>").html("Status vesty").addClass("vestStatusHeader text-center px-4").attr("scope", "col"));
                headerRow.append($("<th>").html("Odebrat vestu").addClass("removeVestHeader text-center px-4").attr("scope", "col"));

                tableHead.append(headerRow);
                table.append(tableHead);

                return table;
            }

            /**
             * Handler to send vest delete request to the server. 
             */
            function sendDeleteRequest(button) {
                let vestCode = button.parents().filter("tr").data("vestcode");

                let JSONdata = {};
                JSONdata.vestCode = vestCode;

                lasergame.readRESTData(constants.deleteVestEndpoint, {
                    method: "DELETE",
                    data: JSON.stringify(JSONdata)
                }, function() {
                    lasergame.showSuccessInformationRow("Vest was deleted successfuly!");
                    loadMyVestsPart();
                }, function(error, textStatus, errorDetailMessage) {
                    if(error.status == 204) {
                        lasergame.showErrorInformationRow("Couldn't delete vest. Contact the administrator.");
                        return true;
                    } 

                    if(error.status == 409) {
                        lasergame.showErrorInformationRow("Somehow tried deleting vest that is not assigned to you. HOW DARE YOU!");
                        return true;
                    }
                });
            }

            // ===============================================
            //                Generic functions
            // ===============================================
            
            /**
             * Initializes handler on reload buttons
             */
            function initializeOnReloadHandler() {
                $("#reloadVests").on("click", loadMyVestsPart);
                $("#reloadGames").on("click", loadMyGamesPart);
            }

            /**
             * Starts interval for polling myVests endpoint
             */
            function startPolling() {
                pollingInterval = setInterval(loadMyVestsPart, constants.pollingInterval);
            }
        });
    }

    /**
     *  Generic framework function called before unloading the component. 
     */
    function onBeforeComponentUnload() {
        $("#reloadVests").off("click");
        $("#reloadGames").off("click");
        $("#createGame").off("click");

        $(".showGameDetailsButton").off("click");
        $(".removeVestButton").off("click");
        
        $(".previous").off("click");
        $(".next").off("click");

        clearInterval(pollingInterval);
    }
</script>

<style>
    td, th {
        white-space: nowrap;
    }

    .vestNameHeader, .gameNameHeader {
        width: 100%;
    }

    .vestsHeaderWrapper {
        position: relative;
    }

    .vestsHeader {
        display: inline-block;
    }

    .vestsHeaderButtonsWrapper {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0,-50%);
    }
    
    .pageButtons {
        width: 13em;
    }

    .pagerControls {
        text-align: center;
    }
</style>