
<div id="contentWrapper" class="p-3">
    <div class="column d-flex h-100 w-100 flex-column">
        <div class="row headerRow">
            <h1 class="text-center">Informace o hře</h1>
            <button type="button" class="btn btn-danger stopGame">Zastavit hru</button>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4 class="text-center">Zbývající čas hry: <span id="timeLeftValue"></span></h4>
                <h4 class="text-center pt-3">Poslední akce:</h4>
                <div id="lastActions">
    
                </div>
            </div>
            <div class="col-md-8">
                <h4 class="text-center">Hráči:</h4>
    
                <div id="playersTable">
    
                </div>
            </div>
        </div>
        <div class="row flex-fill d-flex">
            <div id="map" class="leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0" style="position: relative; outline: none;">
                <div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);">
                    <div class="leaflet-pane leaflet-tile-pane"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var pollingInterval;
    var changeTimeInterval;
    var lastActionId = -1;

    function loadComponent() {
        require(['constants', 'leaflet'], function(constants, L) {
            let gameID = getUrlParam("gameID");
            let markerLayers;
            let lastData;
            let map;
            let mapCentered = false;

            //Icon markers on the map
            const LeafIcon = L.Icon.extend({
                options: {
                    iconSize: [36, 36],
                    shadowSize: [0, 0],
                    iconAnchor: [18, 36],
                    shadowAnchor: [0, 0],
                    popupAnchor: [0, -36]
                }
            });

            let mapIcons = {};
            mapIcons.WHITE = new LeafIcon({iconUrl: '/img/pointers/pointer_white.png'});
            mapIcons.RED = new LeafIcon({iconUrl: '/img/pointers/pointer_red.png'});
            mapIcons.GREEN = new LeafIcon({iconUrl: '/img/pointers/pointer_green.png'});
            mapIcons.BLUE = new LeafIcon({iconUrl: '/img/pointers/pointer_blue.png'});
            mapIcons.YELLOW = new LeafIcon({iconUrl: '/img/pointers/pointer_yellow.png'});
            mapIcons.CYAN = new LeafIcon({iconUrl: '/img/pointers/pointer_cyan.png'});
            mapIcons.MAGENTA = new LeafIcon({iconUrl: '/img/pointers/pointer_magenta.png'});
            mapIcons.ORANGE = new LeafIcon({iconUrl: '/img/pointers/pointer_orange.png'});

            //Create map on load so it is ready to draw the markers.
            createMap();
            loadData();
            startPolling();
            createDeleteButtonHandler();

            /**
             * Creates action to handle click on delete button
             */
            function createDeleteButtonHandler() {
                $(".stopGame").on("click", function() {
                    let JSONdata = {};
                    JSONdata.gameID = gameID;

                    lasergame.readRESTData(constants.stopGameEndpoint, 
                    null, 
                    function() {
                        lasergame.showSuccessInformationRow("Game was stopped successfuly!");
                        loadData();
                    }, function(error, textStatus, errorDetailMessage) {
                        if(error.status == 409) {
                            lasergame.showErrorInformationRow("Nepodařilo se zastavit aktuální hru. Opravdu běží?");
                            return true;
                        }
                    });
                });
            }

            /**
             * Starts polling for gameData
             */
            function startPolling() {
                pollingInterval = setInterval(loadData, constants.pollingInterval);
                changeTimeInterval = setInterval(showTime, 1000); //Reload every second
            }

            /**
             * Creates map instance and sets layers. Defaults position to Vodnany
             */
            function createMap() {
                map = L.map('map').setView([49.1477286, 14.1695528], 13);
                markerLayers = L.layerGroup();

                map.addLayer(markerLayers);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
            }

            /**
             * Load data about the game from server 
             */
            function loadData() {
                let JSONdata = {};
                JSONdata.lastActionID = (lastActionId + 1);

                if (gameID != null) {
                    JSONdata.gameID = gameID;
                }

                lasergame.readRESTData(constants.getGameInfoEndpoint, {
                    method: "POST",
                    data: JSON.stringify(JSONdata)
                }, function(data) {
                    showDataOnScreen(data);
                    lasergame.componentLoadComplete();
                }, function(error, textStatus, errorDetailMessage) {
                    if(error.status == 409) {
                        lasergame.showErrorInformationRow("Nebyla nalezena hra, pro kterou se dají zobrazit informace. Kontaktujte administrátora");
                        lasergame.loadContent("dashboard");
                        return true;
                    }
                });
            }

            /**
             * Create one marker on map based on given positionItem
             */
            function createMarker(positionItem, playerItem) {
                var date = new Date(positionItem.date).toLocaleString("cs-CZ");

                var marker = L.marker([positionItem.latitude, positionItem.longitude], {icon: mapIcons[playerItem.team]}).bindPopup("<b>" + playerItem.playerName + '</b><br>' + date);
                markerLayers.addLayer(marker);

                return marker;
            }

            /**
             * Generates all markers from currently loaded data
             */
            function generateMarkers() {
                var markers = [];
                markerLayers.clearLayers();

                for (var playerKey in lastData.playerData) {
                    let playerItem = lastData.playerData[playerKey];
                    
                    if (lastData.gameStatus == "COMPLETED") {
                        for (var positionKey in playerItem.positions) {
                            let positionItem = playerItem.positions[positionKey];
                            
                            markers.push(createMarker(positionItem, playerItem));
                        }

                        continue;
                    }
                    
                    if (typeof playerItem.positions[0] !== "undefined") {
                        markers.push(createMarker(playerItem.positions[0], playerItem));
                    }
                }

                //Center the map - Only for the first time. If user moves the map, don't change it again and again.
                if (mapCentered == false) {
                    if (markers.length && markers.length > 0){
                        mapCentered = true;
                        let markerBounds = L.latLngBounds([]);
                        markers.forEach(marker => {
                            markerBounds.extend([marker._latlng.lat, marker._latlng.lng]);
                        })

                        map.fitBounds(markerBounds);
                    }
                }
            }

            /**
             * Disable cancel button if game is completed.
             */
            function checkDisableCancelButton() {
                if (lastData.gameStatus == "COMPLETED") {
                    $(".stopGame").attr("disabled", "disabled");
                }
            }

            /**
             * Renfer all received data on screen 
             */
            function showDataOnScreen(data) {
                lastData = data;
                console.log(lastData);

                prependActions();
                showTime();
                generatePlayersTable();
                generateMarkers();
                checkDisableCancelButton();
            }

            /**
             * Add new actions from currently loaded data to the front of the actions window
             */
            function prependActions() {
                let actionsElement = $("#lastActions");

                for (var actionKey in lastData.actionData) {
                    let actionData = lastData.actionData[actionKey];

                    lastActionId = actionData.actionID;
                    let actionString = new Date(actionData.actionDate).toLocaleString("cs-CZ") + " - " + actionData.actionData;
                    let actionElement = $("<p>").addClass("actionRow mb-1").html(actionString);

                    actionsElement.prepend(actionElement);
                }
            }

            /**
             * Shows time in the top left corner of the screen. If game is ended, don't show time but text that the game is finished.
             */
            function showTime() {
                var timeLeftElement = $("#timeLeftValue");

                if (lastData.gameStatus == "COMPLETED" || lastData.gameEndTime == null) {
                    timeLeftElement.css("color", "black");
                    timeLeftElement.html("Hra skončila");
                    return;
                }

                var date = new Date();
                var endDate = new Date(lastData.gameEndTime);
                
                var timeLeftInSeconds = new Date(endDate - date) / 1000;

                if (timeLeftInSeconds < 0) {
                    timeLeftElement.css("color", "black");
                    timeLeftElement.html("Hra skončila");
                    return;
                }

                let minutesLeft = Math.floor(timeLeftInSeconds / 60);
                let secondsLeft = Math.floor(timeLeftInSeconds - (minutesLeft * 60));

                var timeString = minutesLeft;
                timeString += "m ";
                timeString += secondsLeft;
                timeString += "s";

                if (timeLeftInSeconds > 60) {
                    timeLeftElement.css("color", "green");
                } else if (timeLeftInSeconds > 30) {
                    timeLeftElement.css("color", "#f5d901");
                } else {
                    timeLeftElement.css("color", "red");
                }
                timeLeftElement.html(timeString);
            }

            /**
             * Returns jQuery table object containing header used for displaying information about vests 
             */
             function generateTableWithHeader() {
                let table = $("<table>").addClass("table table-striped w-100");
                let tableHead = $("<thead>");
                let headerRow = $("<tr>");
                headerRow.append($("<th>").html("Hráč").addClass("playerNameHeader").attr("scope", "col"));
                headerRow.append($("<th>").html("Tým").addClass("playerTeamHeader text-center").attr("scope", "col"));
                headerRow.append($("<th>").html("Zásahů").addClass("killsHeader text-center px-4").attr("scope", "col"));
                headerRow.append($("<th>").html("Smrtí").addClass("deathsHeader text-center px-4").attr("scope", "col"));
                headerRow.append($("<th>").html("Poměr Z/S").addClass("kdHeader text-center px-4").attr("scope", "col"));

                tableHead.append(headerRow);
                table.append(tableHead);

                return table;
            }

            /**
             * Returns TD element containing name of the team and has correctly set class to change visuals
             */
            function getTeamTd(team) {
                switch (team) {
                    case "WHITE":
                        return $("<td>").addClass("WHITE").html("Bílý");
                    case "RED":
                        return $("<td>").addClass("RED").html("Červený");
                    case "GREEN":
                        return $("<td>").addClass("GREEN").html("Zelený");
                    case "BLUE":
                        return $("<td>").addClass("BLUE").html("Modrý");
                    case "YELLOW":
                        return $("<td>").addClass("YELLOW").html("Žlutý");
                    case "CYAN":
                        return $("<td>").addClass("CYAN").html("Azurový");
                    case "MAGENTA":
                        return $("<td>").addClass("MAGENTA").html("Purpurový");
                    case "ORANGE":
                        return $("<td>").addClass("ORANGE").html("Oranžový");
                    default:
                        return $("<td>").html(team);
                }
            }

            /**
             * Returns TD element containing styled KD ratio
             */ 
            function getKDElement(kills, deaths) {
                var kdTdElement = $("<td>").addClass("text-center");

                var kd = kills - deaths;

                if (kd > 0) {
                    kd = "+" + kd; //Force plus sign at the front of the data. Minus will get there itself.
                    
                    kdTdElement.css("color", "green");
                } else {
                    kdTdElement.css("color", "red");
                }

                kdTdElement.html(kd);

                return kdTdElement;
            }
            
            /**
             * Create table with header and body containing data about all players in game
             */
            function generatePlayersTable() {
                var table = generateTableWithHeader();
                var tbody = $("<tbody>");

                for(let index in lastData.playerData) {
                    let data = lastData.playerData[index];
                    
                    let dataRow = $("<tr>").attr("data-vestCode", data.vestCode);

                    dataRow.append($("<td>").html(data.playerName).addClass("playerNameData align-middle w-50"));
                    dataRow.append(getTeamTd(data.team).addClass("text-center teamData align-middle"));
                    dataRow.append($("<td>").html(data.kills).addClass("text-center"));
                    dataRow.append($("<td>").html(data.deaths).addClass("text-center"));
                    dataRow.append(getKDElement(data.kills, data.deaths));
                    
                    
                    
                    tbody.append(dataRow);
                }

                table.append(tbody);
                
                $("#playersTable").html(table);
            }
        });
    }

    /**
     *  Generic framework function called before unloading the component.
     */
    function onBeforeComponentUnload() {
        clearInterval(pollingInterval);
        clearInterval(changeTimeInterval);
        $(".stopGame").off("click");
    }
</script>

<style>
    #lastActions {
        max-height: 30vh;
        overflow-y: auto;
    }

    #contentWrapper {
        height: 100%;
    }

    #map {
        min-height: 30vh;
    }

    .stopGame {
        width: 10em;
        position: absolute;
        top: 0;
        right: 20px;
    }

    .headerRow {
        position: relative;
    }
</style>

<link rel="stylesheet" href="/lib/leaflet/leaflet.css">