<div class="w-50 mx-auto">
    <h2 class="text-center mt-5">Registrace nové vesty</h2>
    <p class="text-center">Na této stránce ke svému účtu zaregistrujete novou vestu.</p>
    <p class="text-center">Kód vesty naleznete v konfiguračním souboru config.h ve zdrojovém kódu vesty. Vesta se v seznamu bude zobrazovat pod názvem, který zadáte níže.</p>
    <form id="loginForm" class="w-75 mx-auto" method="post" action="">
        <div class="form-group mb-1">
            <div class="input-group">
                <div class="input-group-prepend w-33 text-center">
                    <span class="input-group-text w-100 text-center" id="inputGroupPrepend1">Kód vesty</span>
                </div>
                <input type="text" class="form-control" placeholder="Kód vesty" aria-describedby="inputGroupPrepend1" id="vestCode" name="vestCode" required>
            </div>
        </div>
        <div class="form-group mb-3">
            <div class="input-group">
                <div class="input-group-prepend w-33">
                    <span class="input-group-text w-100 text-center" id="inputGroupPrepend2">Název vesty</span>
                </div>
                <input type="text" class="form-control" placeholder="Název vesty" aria-describedby="inputGroupPrepend2" id="vestName" name="vestName" required>
                <div class="invalid-feedback">
                    Vestu se nepodařilo zaregistrovat. Vesta je pravděpodobně zaregistrována u jiného uživatele.
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-success" name="registerButton" id="registerButton">Zaregistrovat vestu</button>
        </div>
    </form>
</div>

<script>
    function loadComponent() {
        require(["constants"], function(constants) {
            $("#loginForm").on("submit", function(event) {
                event.preventDefault();

                let registerVestData = {};

                let vestCode = sel("#vestCode").value;
                let vestName = sel("#vestName").value;

                if (typeof vestCode !== "undefined" && typeof vestName !== "undefined" && vestCode && vestName) {
                    registerVestData.vestCode = vestCode;
                    registerVestData.vestName = vestName;

                    lasergame.readRESTData(constants.registerVestEndpoint, {
                        method: "POST",
                        data: JSON.stringify(registerVestData)
                    }, function(data) {
                        lasergame.loadContent(constants.dashboardComponent);
                    }, function(error, textStatus, errorDetailMessage) {
                        if(error.status == 409) {
                            showWrongVestInformation();
                            return true;
                        }
                    });
                } else {
                    /* TODO Handle missing login info gracefully */
                }


                $(".form-control").on("click", hideWrongVestInformation);
            });

            lasergame.componentLoadComplete();
        })

        /**
         * Show error information when registering the vest
         */
        function showWrongVestInformation() {
            $(".invalid-feedback").addClass("d-block");
            $(".form-control").addClass("is-invalid");
        }

        /**
         * Hide error information when registering the vest
         */
        function hideWrongVestInformation() {
            $(".invalid-feedback").removeClass("d-block");
            $(".form-control").removeClass("is-invalid");
        }
    }

    /**
     *  Generic framework function called before unloading the component. 
     */
    function onBeforeComponentUnload() {
        $(".form-control").off("click");
    }

</script>