<div id="paddingContent" class="p-3">
    <h1 class="text-center py-2">Spuštění hry</h1>
    <h2 class="text-center">Mé vesty</h2>
    <div id="vestsAvailableDiv" class="text-center"></div>
    
    <h2 class="text-center">Hráči</h2>
    <div id="players" class="row px-2 py-3 flex-nowrap justify-content-center"></div>

    <h2 class="text-center">Nastavení hry</h2>
    <form id="gameSettings" class="container py-4">
        <div class="row">
            <div class="column col-md-4">
                <span>Délka hry (s):</span>
                <input type="number" class="form-control gameDurationInput" placeholder="300" name="gameDuration" required>
            </div>
            <div class="column col-md-4">
                <span>Počet životů:</span>
                <input type="number" class="form-control playerLivesInput" placeholder="100" name="playerLives" required>
            </div>
            <div class="column col-md-4">
                <span>Zranění po zásahu:</span>
                <input type="number" class="form-control weaponDamageInput" placeholder="50" name="weaponDamage" required>
            </div>
        </div>
        <div class="row pt-4">
            <div class="column col-md-4">
                <span>Počet nábojů v zásobníku:</span>
                <input type="number" class="form-control playerAmmoInput" placeholder="50" name="playerAmmo" required>
            </div>
            <div class="column col-md-4">
                <span>Doba do oživení (s):</span>
                <input type="number" class="form-control respawnPeriodInput" placeholder="300" name="respawnPeriod" required>
            </div>
            <div class="column col-md-4">
                <span>Odpočet do startu hry:</span>
                <input type="number" class="form-control startTimeoutInput" placeholder="100" name="startTimeout" required>
            </div>
        </div>
    </form>
    <div class="text-center">
        <button type="button" class="btn btn-success gameControlsButton startGame">Spustit hru!</button>
        <button type="button" class="btn btn-danger gameControlsButton cancelGame">Zrušit hru</button>
    </div>
</div>

<script>
    function loadComponent() {
        require(['constants', 'ErrorMessageType'], function(constants, ErrorMessageType) {
            var startGameData;
            var vestsData;

            loadData();

            /**
             * Load data from the server and show them on screen
             */
            function loadData() {
                startGameData = localStorage.getItem(constants.gameStartDataLocalStorageIdentifier);
                localStorage.removeItem(constants.gameStartDataLocalStorageIdentifier);
                console.log(startGameData);

                if (startGameData === null) {
                    lasergame.showErrorMessage(new ErrorMessageType("Nedokázal jsem najít data o hře. Otevřete editaci znovu z hlavní stránky."));
                    return;
                }

                startGameData = JSON.parse(startGameData);

                lasergame.readRESTData(
                    constants.myVestsEndpoint, 
                    null,
                    function(data) {
                        vestsData = data;

                        createAllPlayerSelectors();
                        createVestsAvailable();
                        createCancelAndStartGameEvents();
                        fillFieldsFromStartData();

                        lasergame.componentLoadComplete();
                    }
                );
            }

            /**
             * Fill gameData from information received from the server
             */
            function fillFieldsFromStartData() {
                $("input[name='gameDuration']").val(startGameData.duration ? startGameData.duration : "");
                $("input[name='playerLives']").val(startGameData.playerLives ? startGameData.playerLives : "");
                $("input[name='weaponDamage']").val(startGameData.weaponDamage ? startGameData.weaponDamage : "");
                $("input[name='playerAmmo']").val(startGameData.playerAmmo ? startGameData.playerAmmo : "");
                $("input[name='respawnPeriod']").val(startGameData.respawnPeriod ? startGameData.respawnPeriod : "");
                $("input[name='startTimeout']").val(startGameData.startTimeout ? startGameData.startTimeout : "");
            }

            /**
             * Creates and binds events on Canceling and Starting the game
             */
            function createCancelAndStartGameEvents() {
                $(".cancelGame").on("click", function() {
                    let JSONdata = {};
                    JSONdata.gameID = startGameData.gameID;

                    lasergame.readRESTData(constants.deleteGameEndpoint, {
                        method: "DELETE",
                        data: JSON.stringify(JSONdata)
                    }, function() {
                        lasergame.loadContent("dashboard");
                    }, function(error, textStatus, errorDetailMessage) {
                        if(error.status == 406) {
                            lasergame.showErrorInformationRow("Cannot delete running game. Stop the game first.");
                            return true;
                        } 

                        if(error.status == 409) {
                            lasergame.showErrorInformationRow("Game with given ID doesn't exist. Contact the administrator");
                            return true;
                        }
                    });
                });

                $(".startGame").on("click", function() {
                    console.log("Starting game..");
                    startGameData.playerData = [];
                    $(".playerWrapper").each(function() {
                        if (!$(this).hasClass("playerAdd")) {
                            let currentPlayerData = {};
                            let playerName = $(this).find(".playerName").val();
                            if (!playerName.trim()) {
                                lasergame.showErrorInformationRow("Některý hráč nemá vyplněné jméno.");
                                return;
                            }
                            currentPlayerData.playerName = playerName;
                            currentPlayerData.vestCode = $(this).find(".vestSelect").val();
                            currentPlayerData.team = $(this).find(".teamSelect").val();
                            
                            startGameData.playerData.push(currentPlayerData);
                        }
                    });

                    startGameData.duration = ($("input[name='gameDuration']").val() ? $("input[name='gameDuration']").val() : constants.gameDefaults.gameDuration);
                    startGameData.playerLives = ($("input[name='playerLives']").val() ? $("input[name='playerLives']").val() : constants.gameDefaults.playerLives);
                    startGameData.weaponDamage = ($("input[name='weaponDamage']").val() ? $("input[name='weaponDamage']").val() : constants.gameDefaults.weaponDamage);
                    startGameData.playerAmmo = ($("input[name='playerAmmo']").val() ? $("input[name='playerAmmo']").val() : constants.gameDefaults.playerAmmo);
                    startGameData.respawnPeriod = ($("input[name='respawnPeriod']").val() ? $("input[name='respawnPeriod']").val() : constants.gameDefaults.respawnPeriod);
                    startGameData.startTimeout = ($("input[name='startTimeout']").val() ? $("input[name='startTimeout']").val() : constants.gameDefaults.startTimeout);

                    $(".startGame").html("Startuji hru...");

                    lasergame.readRESTData(constants.startGameEndpoint, {
                        method: "POST",
                        data: JSON.stringify(startGameData)
                    }, function(data) {
                        lasergame.loadContent("gameInfo", "gameID=" + startGameData.gameID);
                    }, function(error, textStatus, errorDetailMessage) {
                        $(".startGame").html("Spustit hru!");
                        var data = error.responseJSON;
                        if(error.status == 409) {
                            lasergame.showErrorInformationRow("Chyba při startu hry - " + data.detailedInformation + " , Kód: " + data.code);
                            return true;
                        }
                    });
                });
            }

            /**
             * Creates DIV containing information about vests that are available to the user.
             */
            function createVestsAvailable() {
                let vestsMainDiv = $("#vestsAvailableDiv");

                
                for (var vestKey in vestsData) {
                    let vest = vestsData[vestKey];

                    let vestRow = $("<p>");
                    let vestDataString = vest["vestName"] + " - " + vest["vestCode"] + " - ";

                    vestRow.append(vestDataString);
                    vestRow.append($("<span>").html(vest["status"]).attr("data-veststatus", vest["status"]));
                    
                    vestsMainDiv.append(vestRow);
                }
            }

            /**
             * Creates selectors for all players in loaded startGameData
             */
            function createAllPlayerSelectors() {
                let playersDiv = $("#players");
                playersDiv.empty();

                for (var playerKey in startGameData.playerData) {
                    var playerData = startGameData.playerData[playerKey];
                    let playerSelectorDiv = createPlayerSelector(vestsData);

                    playerSelectorDiv.find(".playerName").val(playerData.playerName);
                    playerSelectorDiv.find(".vestSelect").val(playerData.vestCode);
                    let teamSelect = playerSelectorDiv.find(".teamSelect");
                    teamSelect.val(playerData.team);
                    teamSelect.trigger("change"); //Trigger change so the correct data attribute gets put in there.

                    playersDiv.append(playerSelectorDiv);
                }

                playersDiv.append(createPlayerAddButton());
            }

            
            /**
             * Creates DIV that is used to add player selectors.
             */
            function createPlayerAddButton() {
                let buttonDiv = $("<div>").addClass("btn-plus playerWrapper col-md-1 border rounded p-3 col-sm playerAdd d-flex align-items-center justify-content-center me-1 ms-1");
                buttonDiv.append($("<i>").addClass("bi bi-plus-lg"));

                buttonDiv.on("click", function() {
                    if ($("#players > *").length <= constants.maxPlayers) {
                        $(this).before(createPlayerSelector(vestsData));
                    } else {
                        lasergame.showWarningInformationRow("Maximální počet hráčů je: " + constants.maxPlayers);
                    }
                })

                return buttonDiv;
            }

            /**
             * Creates DIV that is used to select players.
             */
            function createPlayerSelector(vestsAvailable) {
                let mainDiv = $("<div>").addClass("playerWrapper col-md-1 border rounded p-3 col-sm me-1 ms-1");
                mainDiv.append($("<span>").html("Jméno hráče"));    
                mainDiv.append($('<input type="text" class="form-control playerName" placeholder="Jméno hráče" aria-describedby="inputGroupPrepend3" name="playerName" required maxlength="10">'));    
                mainDiv.append($("<span>").html("Vesta"));    
                
                let vestSelector = $('<select name="vest" class="vestSelect form-select">');

                for(let vestsKey in vestsAvailable) {
                    vest = vestsAvailable[vestsKey];
                    let vestOption = $("<option>").attr("value", vest["vestCode"]).html(vest["vestName"]);
                    vestSelector.append(vestOption);
                }

                mainDiv.append(vestSelector);

                mainDiv.append($("<span>").html("Tým"));    
                mainDiv.append(createTeamSelector());

                let closeButton = $("<button>").addClass("btn-close");
                closeButton.on("click", function() {mainDiv.remove();});
                mainDiv.append(closeButton);

                return mainDiv;
            }

            /**
             * Creates SELECT element with all the possible teams.
             */
            function createTeamSelector() {
                let select = $('<select name="vest" class="teamSelect form-select" onchange=" this.dataset.chosen = this.value; ">');
                
                select.append($('<option value="WHITE">Bílý</option>'));
                select.append($('<option value="RED">Červený</option>'));
                select.append($('<option value="GREEN">Zelený</option>'));
                select.append($('<option value="BLUE">Modrý</option>'));
                select.append($('<option value="YELLOW">Žlutý</option>'));
                select.append($('<option value="CYAN">Azurový</option>'));
                select.append($('<option value="MAGENTA">Purpurový</option>'));
                select.append($('<option value="ORANGE">Oranžový</option>'));
                
                return select;
            }
        });

        /**
         *  Generic framework function called before unloading the component. 
         */
        function onBeforeComponentUnload() {
            $(".cancelGame").off("click");
            $(".startGame").off("click");
            $(".playerAdd").off("click");
            $(".btn-close").off("click");
        }
    }
</script>

<style>
    #players {
        overflow-x: auto;
        scrollbar-width: thin;
    }

    .playerWrapper {
        position: relative;
        min-width: 200px;
    }

    .playerWrapper > span, .playerWrapper > input, .playerWrapper > select {
        width: 100%;
        text-align: center;
        display: inline-block;
    }

    .playerWrapper > .btn-close {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 0.8em;
    }

    span[data-veststatus='ONLINE'] {
        color: green;
    }

    span[data-veststatus="OFFLINE"] {
        color: red;
    }

    .playerAdd > i {
        font-size: 5em;
    }

    .gameControlsButton {
        min-width: 25%;
    }

    #main-content {
        overflow-y: auto;
    }
</style>