body {
    overflow: hidden;
}

#loader, #errorDialog {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: scale(2);
    z-index: 2000;
    overflow: hidden;
}

#loader {
    background-color: white;
}

#errorDialog {
    background-color: rgb(255, 158, 158);
}

#errorDialogHolder {
    text-align: center;
}

#sadFacePanda {
    font-weight: 700;
    font-size: 4em;
}

#errorDetails {
    font-size: 0.5em;
}

.vestStatusHolder {
    text-align: center;
}

.vestStatus {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.vestOnline {
    background-color: green;
}

.vestOffline {
    background-color: red;
}

.main-content-row, html, body, #main-content {
    height: 100%;
}

.main-content-row, .main-content-row > *, #main-content {
    max-height: calc(100vh - 56px);
}

.main-content-row > * {
    overflow: auto;
}

td {
    vertical-align: middle;
}

.teamSelect option[value="WHITE"], .teamSelect[data-chosen='WHITE'], td.WHITE {
    background-color: white;
    color: black;
}

.teamSelect option[value="RED"], .teamSelect[data-chosen='RED'], td.RED {
    background-color: #f44336;
    color: black;
}

.teamSelect option[value="GREEN"], .teamSelect[data-chosen='GREEN'], td.GREEN {
    background-color: #8fce00;
    color: black;
}

.teamSelect option[value="BLUE"], .teamSelect[data-chosen='BLUE'], td.BLUE {
    background-color: #001eff;
    color: white;
}

.teamSelect option[value="YELLOW"], .teamSelect[data-chosen='YELLOW'], td.YELLOW {
    background-color: #fbff00;
    color: black;
}

.teamSelect option[value="CYAN"], .teamSelect[data-chosen='CYAN'], td.CYAN {
    background-color: #00fff4;
    color: black;
}

.teamSelect option[value="MAGENTA"], .teamSelect[data-chosen='MAGENTA'], td.MAGENTA {
    background-color: #ff0096;
    color: black;
}

.teamSelect option[value="ORANGE"], .teamSelect[data-chosen='ORANGE'], td.ORANGE {
    background-color: orange;
    color: black;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    background-color: rgb(197, 194, 194);
}